name: Testing OpenFOAM-8 on ubuntu-20.04

on:
  push:
    branches: '*'
  workflow_dispatch:

jobs:
  Testing:
    runs-on: ubuntu-20.04

    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Install OpenFOAM
      uses: owinter92/openfoam8-install@master
    - name: Compile
      run: |
        cd /home/runner/work/foam-test/foam-test
        source $FOAM8_BASHRC
        bash Allwmake
      env:
        FOAM8_BASHRC: /opt/openfoam8/etc/bashrc
      shell: bash -l {0}
    - name: Run tests
      run: |
        cd /home/runner/work/foam-test/foam-test/tests
        source $FOAM8_BASHRC
        bash allTests
      env:
        FOAM8_BASHRC: /opt/openfoam8/etc/bashrc
      shell: bash -l {0}
